---
name: Publish to PyPI
on:
  release:
    types:
      - published
jobs:
  build-and-publish:
    name: Build and Publish to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/dashboard-compiler
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python Environment
        uses: ./.github/actions/setup-python-env
      - name: Build package
        working-directory: compiler
        run: make build
      - name: Publish to PyPI
        working-directory: compiler
        run: make publish
