---
name: Publish to PyPI
on:
  push:
    tags:
      - v*
jobs:
  build-and-publish:
    name: Build and Publish to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/kb-dashboard-compiler
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python Environment
        uses: ./.github/actions/setup-python-env
      - name: Build package
        shell: bash
        run: make compiler build
      - name: Publish to PyPI
        shell: bash
        run: make compiler publish
